/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
CHANGELOG
LICENSE.txt

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/common/org/dynmap/forge/
!/src/common/mcmod.info
!/src/common/SP.png

*.bat
*.sh
